.about-item {
  padding-bottom: 1em;
  padding-left: 1.1em;
}

.side-image {
  width: 35%;
  height: auto;
  margin-bottom: 2vh;
  margin-left: 20vw;
  float: right;

  @include media-query($on-mobile) {
    float: right;
    margin-bottom: 2vw;
  }
}
