.profile-pic {
  float: none;  
  width: 40%;
  border: #111 3px double;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
  align: center;

  @include media-query($on-mobile) {
    float: none;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}

.footer-col {
  font-size: 16px;

  h4 {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 30px;
    font-weight: bold;
  }

  .social-links {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    

    .social-link {
      display: flex;
      width: 100%;
      align-items: center;
      line-height: 18px;
      margin-top: 6.5px;
      margin-bottom: 10px;
      justify-content: center;
      align-content: center;

      img {
        width: 17px;
        height: 17px;
      }

      span,
      a {
        margin-left: 6px;
        word-break: break-all;
      }
    }

    @include media-query($on-mobile) {
      font-size: 14px;
      line-height: 38px;
      display: grid;
    }
  }
}
