<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}


    <div class="page-content">
      <div class="wrapper">
        <div class="about">
          <h1 class="page-heading">{{ page.title }}</h1>

 {% for item in page.items %}
          <div class="about-item">
          <span class="about-item">
            <img class="side-image"
              src="{{ item.image.src | absolute_url }}"
              alt="{{ item.image.alt }}"
            />
          </span>
          </div>
          {% endfor %}

          {{ content }}

         
          </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>


